<ion-header [scrollHide]="headerScrollConfig" [scrollContent]="pageContent">
  <ion-row class="meniGlavni" >
    <ion-col>
        <img src="assets/imgs/logo.png" style="max-height:80px"/>
    </ion-col>
    
    <ion-col text-end>
        <button ion-button (click)="meniClick()" color="light" style="height:55px; width:55px;">
            <ion-icon name="menu" flex></ion-icon>
        </button>
    </ion-col>
    
  </ion-row>
  
  <ion-row *ngIf="meniSakriven">
    <button col-3  (click)="scrollTop()" >
        <ion-icon name="home" flex></ion-icon>
        Home
    </button>
    <button col-3  (click)="scroll()">
        <ion-icon name="basket" flex></ion-icon>
        Products
    </button>
    <button col-3  (click)="scrollBottom()" >
        <ion-icon name="call" flex></ion-icon>
        Contact Us
      </button>
    <ion-searchbar col-3></ion-searchbar>
  </ion-row>
 
</ion-header>

<ion-content #pageContent fullscreen >
 
  <ion-slides class="slider" pager autoplay="12000" loop="true" speed="100" effect="fade"  >

    <ion-slide class="slide" >
 
          <img id="slide1" class="slider" [src]="slide1" />
      <div class="text-block"> 
          <h2>A Bridge Between Farmers and Consumers</h2>
          <p>You order it and they grow it</p>
      </div>
    </ion-slide>
  
    <ion-slide  class="slide" >
        <img id="slide2" class="slider" [src]="slide2"/>
        <div class="text-block"> 
            <h2>Farming Like Never Before</h2>
            <p>Experience farming from the comfort of your own home.</p>
          </div>
    </ion-slide>
  
    <ion-slide class="slide">
        <img id="slide3" class="slider" [src]="slide3"/>
        <div class="text-block"> 
            <h2>Download The App</h2>
            <p>And start farming today!</p>
          </div>
    </ion-slide>
  
  </ion-slides>

  
<div class="styles" style="background-color: #e6eaed" text-center>

  <div style="padding: 10px"></div>
  <h1 nopadding text-center>Products That You Can Invest In</h1>
  
  <ion-row>
    <ion-col col-0 col-sm-1 style="text-align: center" >
      <ion-icon [hidden]="450 > platW" name="arrow-dropleft-circle" (click)="buttonLijevo()" class="navSlideButton"></ion-icon>
    </ion-col>

    <ion-col col-12 col-sm-10>
      <ion-slides #productSlides class="productSlides" [slidesPerView]="slidesPerView" >
        <ion-slide  *ngFor="let product of products | async" (click)="proslijediProduct(product)">
            <ion-card nopadding class="cardProduct" >
                <ion-row>
                    <ion-col col-6 offset-3 text-center>
                      <img class="product" src="{{product.imgUrls}}" />
                  </ion-col>
                  </ion-row>
              <ion-card-content >
                <ion-card-title>
                  {{product.name}}
                </ion-card-title>
                <ion-row>
                  <ion-col>
                    <h3>Price per unit:</h3>
                    <p>{{product.price}} $</p>
                  </ion-col>
                  <ion-col>
                      <h3>Investment length:</h3>
                      <p>{{product.cont_period}} years</p>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
    </ion-col>

    <ion-col col-0 col-sm-1 >
      <ion-icon [hidden]="450 > platW" name="arrow-dropright-circle" (click)="buttonDesno()" class="navSlideButton" ></ion-icon>
    </ion-col>
    
  </ion-row>  

</div>
  

    <ion-card class="home" >
        <ion-row >
          <ion-col col-12 col-sm >
            <ion-card-content>
                <ion-card-title>
                  Buy our Stock
                </ion-card-title>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula dignissim laoreet. Aenean fringilla fermentum dolor sed lacinia. 
                  Mauris venenatis tortor mi, non lobortis turpis efficitur sit amet. Orci varius natoque p
                </p>
              </ion-card-content>
        </ion-col>
        <ion-col col-12 col-sm text-begin>
            <img class="cardImg" src="assets/imgs/farmer.jpg"  />
        </ion-col>
      </ion-row>
        
    </ion-card>
  
    <div style="padding: 8px"></div>
  
    <ion-card class="home">
        <ion-row>
            <ion-col  col-12 col-sm text-begin>
                <img class="cardImg" src="assets/imgs/grow.jpg" />
            </ion-col>
          <ion-col col-12 col-sm>
            <ion-card-content>
                <ion-card-title>
                 They Plant and Care
                  </ion-card-title>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula dignissim laoreet. Aenean fringilla fermentum dolor sed lacinia. 
                  Mauris venenatis tortor mi, non lobortis turpis efficitur sit amet. Orci varius natoque p
                </p>
              </ion-card-content>
        </ion-col>
        
      </ion-row>
        
      </ion-card>
  
  
    <div style="padding: 8px"></div>
  
    <ion-card class="home">
      <ion-row>
        <ion-col col-12 col-sm>
          <ion-card-content>
              <ion-card-title>
                Wath it Grow
                </ion-card-title>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula dignissim laoreet. Aenean fringilla fermentum dolor sed lacinia. 
                Mauris venenatis tortor mi, non lobortis turpis efficitur sit amet. Orci varius natoque p
              </p>
            </ion-card-content>
        </ion-col>
        <ion-col col-12 col-sm text-begin>
            <img class="cardImg" src="assets/imgs/slide2.jpg" />
        </ion-col>
      </ion-row>
      
    </ion-card>
  
  
  <div style="padding: 8px"></div>
  
    <ion-card class="home">
        <ion-row>
            <ion-col col-12 col-sm  text-begin>
                <img class="cardImg" src="assets/imgs/crop.jpg" />
            </ion-col>
          <ion-col col-12 col-sm>
            <ion-card-content>
                <ion-card-title>
                  Reap the Harvest
                  </ion-card-title>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula dignissim laoreet. Aenean fringilla fermentum dolor sed lacinia. 
                  Mauris venenatis tortor mi, non lobortis turpis efficitur sit amet. Orci varius natoque p
                </p>
              </ion-card-content>
        </ion-col>
        
      </ion-row>
        
      </ion-card>  




<!-- footer -->

<div style="padding: 50px"></div>

<div class="footerContent" >
      <div style="padding:5px"></div>
      <ion-list text-center>
          <h1 class="contact-us-header">Get In Touch</h1>
          <p>
              <ion-icon name="pin" flex></ion-icon>
              Jl. Matraman Raya No.67, RT.5/RW.4, Palmeriam, Matraman
          </p>
          <p>
              <ion-icon name="call" flex></ion-icon>
              (IND) +62812 8612 1907 (UAE) +971501778234
          </p>
          <p>
              <ion-icon name="mail" flex></ion-icon>
              amappa97@gmail.com
          </p>
        </ion-list>
    <p text-center class="p" style="color: white"> Developed by Ridvan Appa Bugis 2018  || All Rights Reserved</p> 
  </div>
  
</ion-content>
